@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Explora";
  src: url("./assets/fonts/explora-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/explora-regular-webfont.woff") format("woff"),
    url("./assets/fonts/Explora-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/montserrat-variablefont_wght-webfont.woff")
      format("woff"),
    url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  background: rgb(2, 173, 108);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */


